@media screen and (max-width: 1600px) {
  #profile {
    margin: 0 auto 2rem; /* Center the sections */
    width: 90%; /* Adjust width to fit within the available space */
    margin-bottom: 6rem;
  }
  #about,
  #experience {
    margin: 0 auto 2rem; /* Center the sections */
    width: 90%; /* Adjust width to fit within the available space */
  }

}
@media screen and (max-width: 1300px) {
  #desktop-nav{
    display: none;
  }
  #mobile-nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #about{
    display: flex;
    flex-direction: column;
  }
  .mobile-nav-container{
    width: 70vw;
  }
  .section-container{
   display: block;
  }
 .section-container .section-picture-container{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  

}
@media screen and (max-width: 1200px) {
  #profile{
    display: block;
  }
  #profile .section-picture-container{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-details-container{
    display: block;
  }
  .details-container{
    margin: 1rem 0;
  }
  .experience-section{
    display: block;
  }
  .experience{
    margin: 0 auto 2rem;

  }
  section,
  .section-container {
    height: fit-content;
  }

}